In [ ]:
# creating a dataframe using list

In [1]:
import numpy as np
import pandas as pd

In [3]:
doc_data = [['D101' , 'Dr.Anil Kumar', 'Cardiologist' , 12 , 'Chennai'],['D102' , 'Dr.Priya singh', 'Dermatologist' ,8 , 'Delhi'],
              ['D103' , 'Dr.Ramesh', 'neurologist' , 15 , 'Bengaluru'],['D104' , 'Dr.Nirinjan Kumar', 'Pediatrician' , 6 , 'Mumbai'],['D105', 'Dr.Suresh Rao', 'Orthopedic' , 10 , 'Hyderabad' ]]

In [4]:
type(doc_data)

list

In [5]:
doc_data[3]

['D104', 'Dr.Nirinjan Kumar', 'Pediatrician', 6, 'Mumbai']

In [6]:
col_names = ['Doctor ID','Name', 'Specialization' , 'Experience(Years)' , 'City' ]

In [7]:
 df = pd . DataFrame(doc_data, columns=col_names)

In [8]:
df

  Doctor ID               Name Specialization  Experience(Years)       City
0      D101      Dr.Anil Kumar   Cardiologist                 12    Chennai
1      D102     Dr.Priya singh  Dermatologist                  8      Delhi
2      D103          Dr.Ramesh    neurologist                 15  Bengaluru
3      D104  Dr.Nirinjan Kumar   Pediatrician                  6     Mumbai
4      D105      Dr.Suresh Rao     Orthopedic                 10  Hyderabad

In [10]:
 df = df.set_index('Doctor ID')

In [11]:
df

                        Name Specialization  Experience(Years)       City
Doctor ID
D101           Dr.Anil Kumar   Cardiologist                 12    Chennai
D102          Dr.Priya singh  Dermatologist                  8      Delhi
D103               Dr.Ramesh    neurologist                 15  Bengaluru
D104       Dr.Nirinjan Kumar   Pediatrician                  6     Mumbai
D105           Dr.Suresh Rao     Orthopedic                 10  Hyderabad

In [9]:
# creating a dataframe using Dictionaries

In [13]:
doc_data = {
    'Doctor ID' :['D101' , 'D102' , 'D103' , 'D104' , 'D105'],
'Name' :['Dr.Anil Kumar', 'Dr.Priya singh' , 'Dr.Ramesh' , 'Dr.Nirinjan Kumar' ,  'Dr.Suresh Rao'],
'Specialization' :['Cardiologist' , 'Dermatologist' , 'neurologist' , 'Pediatrician', ' Orthopedic' ],
    'Experience(Years)' : [ 12 , 8 , 15 , 6 , 10],
    'City' : ['Chennai' , 'Delhi' , 'Bengaluru' , 'Mumbai' ,  'Hyderabad']
}

In [14]:
type(doc_data)

dict

In [15]:
 df = pd . DataFrame(doc_data)

In [16]:
df

  Doctor ID               Name Specialization  Experience(Years)       City
0      D101      Dr.Anil Kumar   Cardiologist                 12    Chennai
1      D102     Dr.Priya singh  Dermatologist                  8      Delhi
2      D103          Dr.Ramesh    neurologist                 15  Bengaluru
3      D104  Dr.Nirinjan Kumar   Pediatrician                  6     Mumbai
4      D105      Dr.Suresh Rao     Orthopedic                 10  Hyderabad

In [18]:
df.set_index('Doctor ID')

                        Name Specialization  Experience(Years)       City
Doctor ID
D101           Dr.Anil Kumar   Cardiologist                 12    Chennai
D102          Dr.Priya singh  Dermatologist                  8      Delhi
D103               Dr.Ramesh    neurologist                 15  Bengaluru
D104       Dr.Nirinjan Kumar   Pediatrician                  6     Mumbai
D105           Dr.Suresh Rao     Orthopedic                 10  Hyderabad